body {
    
    padding: 1em;
    margin: 0px;
    height: 90vh;
    background: white;
}
tr {
    width: 200%;
    height: 300%;
   
}
td{
    font-size:12px;
    font-weight:bolder;

}
tbody {
    height: 250px;
    overflow-y: auto;
}


tbody td, thead th {
    width: 850px;

}

.button-align{
    background-color:#669900;
    cursor: pointer;
    float: right;
    font-size: 14px;
    color: white;
    width: 75px;
    border-radius: 5px;
    bottom:0;
  }
 
.form-control{
    
    width: none;
}
th {
     
   
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    background-color: #2799CF;
    color: white;
   
   
   
}

/* CSS Details for MAP Button Image */

img {
    width: 30px;
    height: 20px;
}



td {
    font-size:12px;
    width:200px;
    white-space: nowrap;
    /* height: 100%; */
    text-align: center;
}


input[type=text] {
    
    width: 100%;
    
    font-size: 19px;
}

tbody {
    
    overflow-y: auto;
    max-height: 800px !important;
}

/* Styling Scrollbar */
tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

tbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#999966, #aaaa55);
    border: 1px solid #aaa;
}

tbody::-webkit-scrollbar-thumb:hover {
    background: #cccc00;
}

tbody::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, rgb(186, 170, 30));
}

/* Map Button */

button {
    /* margin: 2em 0; */
    /*  padding:1em 4em; */
    display: block;
    background: #669900;
    /* background-color:#0086b3; */
    color: white;
    font-size: 15px;
}


table {
    margin: 20px;
    border:1;
    width:70%;
   
 }

table.center {
    margin-left: auto;
    margin-right: auto;
}

colgroup {
    width: 40%
}

.custom-select {
    width: 85px;
}

.footer-button {
    bottom: 0;
    right: 0;
    position: absolute;
}


@media screen and (max-width:1440px) {
    body {
       padding: 1em;
        margin: 0px;
        height: 50vh;
        background: white;
    }
    .container{
        height: 400px;
     /* overflow-y: auto;*/
        max-width: 1300px;
    }
    th {
        font-size: 17px;
        text-align: center;
        font-weight: bold;
        background-color: rgb(14, 15, 15);
        color: white;
        width: 70px !important;
        height: 30px;
    }
    /* CSS Details for MAP Button Image */
    img {
        width: 30px;
        height: 20px;
    }
    tr {
        width: 100%;
        height: 100%;
        background: hsl(0, 0%, 95%)
    }
    td {
        font-size: 12px;
       
        max-width: 50%;
        white-space: nowrap;
        height: 70%;
        text-align: center;
    }
    input[type=text] {
        
        height: 30px;
        width: 100%;
       
        font-size: 16px;
    }
    
    tbody {
        background: #f2f2f2;
        overflow-y: auto;
       
    }
    /* Styling Scrollbar */
 tbody::-webkit-scrollbar{
    width:8px;
}

tbody::-webkit-scrollbar-track{
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

tbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#999966, #aaaa55);
    border: 1px solid #aaa;
  }

  tbody::-webkit-scrollbar-thumb:hover{
    background: #cccc00;
  }

  tbody::-webkit-scrollbar-thumb:active{
    background: linear-gradient(left, #22ADD4, rgb(186, 170, 30));
  }
    /* Map Button */
    button {
        display: block;
        background: #297326;
        color: white;
        font-size: 15px;
    }
    table {
        margin: 20px;
        border: 1;
        width: 70%;
        max-width: 1000px;
       
    }
    table.center {
        margin-left: auto;
        margin-right: auto;
    }
    colgroup {
        width: 40%
    }
    .custom-select {
        width: 85px;
    }
    .footer-button {
        bottom: 0;
        right: 0;
        position: absolute;
    }
}

li {
    padding: 5px 20px 5px 5px;
    cursor: pointer;
    font-weight: bolder;
}

ul {
    background-color: whitesmoke;
    font-size:14px
}

.active {
    background-color: white;
    border-bottom: white
}

.container {
    border: 1px solid #dadada;
    padding: 5px;
}

.destroy-margin {
    padding-right: 0px;
}