<div class="container" style="text-align:center;">
    
        <h1>
          Welcome to Api-Catalogue Application
        </h1> 
     
<div style="padding-bottom: 60px; padding-top: 20px;">

</div>
<div style="text-align:center;color: black">
   
  <div>
    <h2><a [routerLink]="['/addClient']" [routerLinkActive]="['active']">Client Registration</a></h2>
  </div>
  <div>
    <h2><a [routerLink]="['/viewclient']" [routerLinkActive]="['active']">Client List View</a></h2>
  </div>
  <div>
      <h2><a [routerLink]="['/viewapplist']" [routerLinkActive]="['active']">Application List View</a></h2>
  </div>
  <div>
      <h2><a [routerLink]="['/addnewapi']" [routerLinkActive]="['active']">New Application Registration</a></h2>
  </div>
 
</div>
</div>