<div>
    <div style="text-align:center; color: yellowgreen">
        <h1>
          Welcome to Api-Catalogue Application
        </h1>
        
      </div>
<h2 style="text-align:left; color: rgb(182, 187, 107)">Processes: </h2>
<ul>
   
  <li>
    <h2><a [routerLink]="['/addClient']" [routerLinkActive]="['active']">Client Registration</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/viewclient']" [routerLinkActive]="['active']">Client List View</a></h2>
  </li>
  <li>
      <h2><a [routerLink]="['/viewapplist']" [routerLinkActive]="['active']">Application List View</a></h2>
    </li>
 
</ul>
</div>