.Navbar{
    position:fixed;
    height:40px;
    top:0;
    background:#00a3cc;
    color:white;
    width:100vw;
    font-size:25px;
    padding-left:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
}
.active{
    border-bottom:5px solid #2799CF;
    background-color:white;
    color:black !important;
    font-weight:bolder;
}
#TabHeading{
    padding:6px;
    font-weight:light !important;
    font-size:12px;
    text-align:center;
    font-weight: bold;
    padding-top:10px
    /* border-left: 2px solid #2799CF */
}
#TabHeading:hover{
    cursor: pointer;
    background-color:white;
    color:black !important;
    font-weight:bolder;
    border-bottom:7px solid #2799CF
}