<div class="AddClient">
  <div>
  <button (click)="add()" class="btn btn-default" type="button">
    
    Add Client
  </button>
</div>

    <div class="table-responsive-fluid" style="height: 430px; overflow-y: auto;max-width: 1500px;">
      <table class="table table-bordered table-responsive-md table-striped text-center" style="margin-left:auto;margin-right:auto">
        
          <tr >
            
            <th >Application NameTo Register</th>
            <th >Client Application Name</th>
            <th >Client Application Owner</th>
            <th >Client Application Owner Email</th>
            <th> Message </th>
            
          </tr>
         
      
          <tr *ngFor="let client of addclientList; let id = index">
             
            <td contenteditable="true" (keyup)="changeValue(id, 'applicationNameToRegister', $event)" (blur)="updateList(id, 'applicationNameToRegister', $event)">{{client.applicationNameToRegister}}</td>
            <td contenteditable="true"  (keyup)="changeValue(id, 'clientApplicationName', $event)" (blur)="updateList(id, 'clientApplicationName', $event)">{{client.clientApplicationName}}</td>
            <td contenteditable="true" (keyup)="changeValue(id, 'clientApplicationOwner', $event)"  (blur)="updateList(id, 'clientApplicationOwner', $event)">{{client.clientApplicationOwner}}</td>
            <td contenteditable="true"  (keyup)="changeValue(id, 'clientApplicationOwnerEmail', $event)" (blur)="updateList(id, 'clientApplicationOwnerEmail', $event)">{{client.clientApplicationOwnerEmail}}</td>
            <td contenteditable="true"  (keyup)="changeValue(id, 'message', $event)" (blur)="updateList(id, 'message', $event)">{{client.message}}</td>
          </tr>
      </table>
    </div>
</div>    